*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    object-fit: fill;

   
}
body{
    background-color: black;
    color: rgb(214, 226, 43);
    background: url("Tree.jpg");
    background-size:cover;

}
h1{
    color: rgb(255, 204, 0);
}
h2{ 
    color: rgb(0, 208, 255);
}
li{
    color: rgb(0, 166, 255);
}